/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #000;
  color: #fff;
  line-height: 1.6;
}

header {
  background-color: #000;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #0f0f0f;
}

header h1 {
  font-size: 3rem;
  color: #fff;
}

.highlight {
  color: #003cff;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #003cff;
}

.hero {
  padding: 80px 20px;
  text-align: center;
  background: linear-gradient(to bottom, #001133, #000);
}

.hero h2 {
  font-size: 2.5rem;
  color: #003cff;
}

.hero p {
  font-size: 1.2rem;
  color: #ccc;
}

main {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

section {
  margin-bottom: 60px;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #003cff;
}

section p {
  margin-bottom: 15px;
  color: #ddd;
}

a {
  color: #1e90ff;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #000;
  border-top: 2px solid #0f0f0f;
  color: #666;

}

#galeria {
  margin-bottom: 60px;
}

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.galeria-grid img {
  width: 100%;
  max-width: 350px; /* tamanho máximo */
  height: 200px;    /* altura fixa */
  object-fit: cover; /* corta a imagem sem distorcer */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  display: block;
  margin: auto; /* centra dentro da coluna */
}

.galeria-grid img:hover {
  transform: scale(1.03);
}


